body {
    font-family: arial, sans-serif;
    font-size: 15px;
    color: #434449;
    line-height: 20px;
}

.title {
    text-align: center;
}

.justify {
    text-align: justify;
    font-weight: bold;
}

ul {
    list-style-type: square;
}













.table {
    width: 100%;
    border: 1px solid #000;
    border-collapse: collapse;
    table-layout: fixed;
}

.table th {
    padding: 5px;
    text-align: left;
    color: rgb(97, 0, 0);
    padding: 5px 10px;
}

.table td {
    padding: 5px;
    border: 1px solid #000;
    padding: 5px 10px;
}







.text-red {
    display: block;
    margin: 10px;
    color: rgb(148, 35, 35);
    font-weight: 700;
    font-style: italic;
}






.content {
    width: 200px;
    margin: 10px auto;
}