.container {
    font-family: 'Roboto';
}

.navbar  { 
    display: flex;
    justify-content: center;
    margin: 32px;
}


.navbar-item {
   
}

.navbar-item-link {
    padding: 65px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    color: #16A085;
    transition: .3s;
}

.navbar-item-link:hover {
    background-color: teal;
    color: white;
}

.top-header-img {
    width: 100%;
    height: 790px;
}

.heading {
    font-size: 22px;
    text-transform: uppercase;
    font-weight:bold;
}

.text {
    color: #373737;
    text-align: center;
    font-weight:bold;
    padding-bottom: 94px;
    padding-top: 44px;
    background-color: #F5F6F7;

}

.paragraph {
    font-size: 16px;
    margin: 34px;
    margin-right: 108px;
    margin-left: 113px;
    line-height: 1.5em;
}

.btn {
    color: ivory;
    background-color: #16A085;
    height: 52px;
    width: 193px;
    text-transform: uppercase;
    border: none;
    transition: .3s;
}


button, 
button:active, 
button:focus {
    outline: none;
}

.footer {
    font-size: 16px;
    text-align: right;
    margin-right: 104px;
    margin-top: 47px;
    margin-bottom: 45px;
    color: #373737;
    font-weight: bold;
    
}

.btn:hover {
    background: rgb(37, 95, 95);
    transform: scale(1.2);
}

