body {
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #121212;
    background-color: rgb(0, 0, 0);
    /* background: url("img/Rainbow-Gradient-Pink-and-Purple-Zoom-Virtual-Background.png") transparent 50%; */
}

.page {
    width: 800px;
    margin: 20px auto;
    background-color: #fff;
}

/* Header */

.header {
    padding: 20px;
    background-color: #ffffff;
}

.header-title {
    margin: 0;

    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
}


.header-subtitle {
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 54, 104);
    text-align: center;
}



/* Nav */

.nav {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.nav-link {
    display: inline-block;
    padding: 8px 12px;
    color: #ffffff;

    text-decoration: none;
}

.nav-link:hover {
    background-color: rgb(44, 44, 44);
}

.img {
    width: 802px;
    height: 534px;
}

/* Content */


.content {
    padding: 20px;
}

.content-text {
    margin-bottom: 20px;
}

.content-title {
    font-size: 24px;
    margin: 0 0 15px;
    color: rgb(0, 54, 104);
}

.read-more {
    color: rgb(0, 54, 104);
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}


/* Article */

.article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.article-title {
    margin: 0 0 5px;
    font-size: 18px;
    color: rgb(0, 54, 104);
}

.article-title a {
    text-decoration: none;
    color: rgb(0, 54, 104);
}

.article-title a:hover {
    text-decoration: underline;
}

.article-date {
    font-size: 12px;
    color: rgb(112, 112, 112);
}

/* Footer */

.footer {
    padding: 20px;
    background-color: #000000;
    text-align: center;
    color: #fff;
}